<h1>Top Secret Employee Database</h1>
<h2>Component - Block</h2>

{{#if selectedEmployee}}
  <h3>Employee Of The Day</h3>
  <p id="eotd">
    <marquee>{{selectedEmployee.name}}</marquee>
  </p>
{{/if}}

{{#hyper-search
    id="component-block"
    minQueryLength=1
    endpoint="/api/v1/users"
    resultKey="name"
    selectResult=(action "selectResult") as |hypersearch|}}
  <form class="hypersearch" {{action "commit" on="submit"}}>
    {{one-way-input
        class="hypersearch-input"
        name="query"
        type="text"
        update=(action "search" target=hypersearch)
    }}
    <ul class="hypersearch-results">
      {{#if hypersearch.results}}
        <p id="result-count">Found {{hypersearch.results.length}} results.</p>
      {{/if}}

      {{#each hypersearch.results as |result|}}
        <li class="hypersearch-result">
          <span {{action (action "selectResult") result on="click"}}>
            {{#if hypersearch.resultKey}}
              {{get result hypersearch.resultKey}}
            {{else}}
              {{result}}
            {{/if}}
          </span>
        </li>
      {{/each}}
    </ul>
    <button type="submit">Submit</button>
  </form>
{{/hyper-search}}

<h2>All Users ({{model.length}})</h2>
<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |user|}}
      <tr>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<hr>

<h2>Component - Inline</h2>
<div class="inline-results-length">
  {{results.length}}
</div>

{{hyper-search
    id="component-inline"
    debounceRate=1000
    endpoint="/api/v1/users"
    resultKey="email"
    selectResult=(action "selectResult")
    handleResults=(action "handleResults")
}}

{{outlet}}
